.login-page{
  min-height:100vh;
  display:flex;
  background:
  linear-gradient(
    135deg,
    #020617,
    #08142f,
    #0f172a
  );
  color:white;
}

.left-panel{
  flex:1;
  padding:80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.left-panel h4{
  color:#38bdf8;
  letter-spacing:5px;
}

.left-panel h1{
  font-size:80px;
  margin:10px 0;
}

.left-panel span{
  background:
  linear-gradient(
    90deg,
    #3b82f6,
    #8b5cf6
  );

  background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

.left-panel h2{
  color:#cbd5e1;
  margin-bottom:20px;
}

.left-panel p{
  max-width:650px;
  color:#94a3b8;
  line-height:1.8;
}

.status-box{
  margin-top:15px;
  width:fit-content;
  padding:12px 18px;

  border-radius:14px;

  background:
  rgba(255,255,255,.05);

  border:
  1px solid rgba(59,130,246,.25);
}

.quote-card{
  margin-top:20px;

  padding:20px;

  border-radius:20px;

  background:
  rgba(255,255,255,.04);

  border:
  1px solid rgba(255,255,255,.05);

  color:#cbd5e1;

  max-width:700px;
}

.right-panel{
  width:500px;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:40px;
}

.login-card{
  width:100%;

  padding:50px;

  border-radius:30px;

  backdrop-filter:blur(20px);

  background:
  rgba(15,23,42,.75);

  border:
  1px solid rgba(59,130,246,.35);

  box-shadow:
  0 0 40px rgba(59,130,246,.25);
}

.login-card h1{
  text-align:center;
}

.login-card p{
  text-align:center;
  color:#94a3b8;
}

.login-card input{
  width:100%;

  margin-top:20px;

  padding:18px;

  border:none;

  border-radius:15px;

  background:#0f172a;

  color:white;

  font-size:16px;

  box-sizing:border-box;
}

.login-card button{
  width:100%;

  margin-top:25px;

  padding:18px;

  border:none;

  border-radius:15px;

  font-weight:700;

  font-size:16px;

  cursor:pointer;

  color:white;

  background:
  linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
  );
}

.login-card button:hover{
  transform:translateY(-2px);
}

.footer-text{
  text-align:center;

  margin-top:25px;

  color:#64748b;

  letter-spacing:3px;
}